<script setup lang="ts">
import {useUserStore} from '~/store/user';
import {useNotesStore} from '~/store/notes';

useSeoMeta({
  title: 'Home',
  description: 'Welcome to our high-performance note manager. Start creating notes to organize your tasks and ideas efficiently.',
});
const userStore = useUserStore();
const notesStore = useNotesStore();

const userName = computed(() => userStore.user?.name || 'Guest');
const notesCount = computed(() => notesStore.notes.length);
</script>
<template>
  <main class="flex flex-1 flex-col items-center justify-center gap-4 p-4 lg:gap-6 lg:p-6">
    <div class="w-full flex flex-1 items-center justify-center rounded-lg border border-dashed shadow-sm p-6 bg-white">
      <div class="flex flex-col items-center gap-1 text-center">
        <h1 class="text-4xl font-bold mb-4">Hi {{ userName }},</h1>
        <p class="text-lg text-gray-700 mb-6">
          Welcome to our high-performance note manager. Start creating notes to organize your tasks and ideas
          efficiently.
        </p>
        <Button type="button" class="w-full py-3 text-white rounded-md  transition-colors"
                @click="$router.push('/notes')">
          Start Creating Notes
        </Button>
        <div v-if="notesCount > 0" class="mt-6 text-gray-600">
          <p>You have {{ notesCount }} {{ notesCount === 1 ? 'note' : 'notes' }}.</p>
        </div>
      </div>
    </div>
  </main>
</template>
