<script setup lang="ts">
import {Button} from '@/components/ui/button';
import {Card, CardContent, CardDescription, CardHeader, CardTitle} from '@/components/ui/card';
import {Input} from '@/components/ui/input';
import {useAuth} from '~/composables/useAuth';
import {useForm, useField} from 'vee-validate';
import {toTypedSchema} from '@vee-validate/zod';
import * as z from 'zod';
import {FormControl, FormField, FormItem, FormLabel, FormMessage} from "~/components/ui/form";
import {useErrorStore} from "~/store/errors";

useSeoMeta({
  title: 'Login | Notes App',
  description: 'Login page',
})

definePageMeta({
  layout: 'auth',
});

const {login} = useAuth();
const errorStore = useErrorStore();
console.log(errorStore)
const formSchema = toTypedSchema(z.object({
  email: z.string().min(5, 'email must be at least 5 characters long').max(50).email(),
  password: z.string().min(1, 'password field is required')
}));
const {isFieldDirty, handleSubmit} = useForm({
  validationSchema: formSchema,
  initialValues: {email: '', password: ''},
});

const onSubmit = handleSubmit(async (values) => {
  await login(values.email, values.password);
});
onMounted(() => {
  errorStore.clearErrors();
});

</script>

<template>
  <div class="flex items-center justify-center min-h-screen">
    <Card class="mx-auto max-w-sm">
      <CardHeader>
        <CardTitle class="text-2xl">
          Login
        </CardTitle>
        <CardDescription>
          Enter your email below to login to your account
        </CardDescription>
      </CardHeader>
      <CardContent>
        <form @submit="onSubmit">
          <!-- Display Server Errors -->
          <div v-if="errorStore.fieldErrors.general" class="mb-4 text-red-500">
            <p v-for="error in errorStore.getErrorMessages('general')" :key="error">{{ error }}</p>
          </div>
          <FormField v-slot="{ componentField }" name="email" :validate-on-blur="!isFieldDirty">
            <FormItem class="mb-3">
              <FormLabel for="email">Email</FormLabel>
              <FormControl>
                <Input type="text" placeholder="Email" v-bind="componentField"/>
              </FormControl>
              <FormMessage/>
              <div v-if="errorStore.getErrorMessages('email').length" class="mt-1 text-red-500 text-sm">
                <p v-for="error in errorStore.getErrorMessages('email')" :key="error">{{ error }}</p>
              </div>
            </FormItem>
          </FormField>
          <FormField v-slot="{ componentField }" name="password" :validate-on-blur="!isFieldDirty">
            <FormItem class="mb-3">
              <FormLabel for="password">Password</FormLabel>
              <FormControl>
                <Input type="password" placeholder="Password" v-bind="componentField"/>
              </FormControl>
              <FormMessage/>
              <div v-if="errorStore.getErrorMessages('password').length" class="mt-1 text-red-500 text-sm">
                <p v-for="error in errorStore.getErrorMessages('password')" :key="error">{{ error }}</p>
              </div>
            </FormItem>
          </FormField>
          <Button type="submit" class="w-full mt-4">
            Login
          </Button>
          <div class="mt-4 text-center text-sm">
            Don't have an account?
            <NuxtLink to="/register" class="underline">
              Sign up
            </NuxtLink>
          </div>
        </form>
      </CardContent>
    </Card>
  </div>

</template>

<style scoped>

</style>