<script setup lang="ts">
import {useForm, useField} from 'vee-validate';
import {toTypedSchema} from '@vee-validate/zod';
import * as z from 'zod';
import {FormControl, FormField, FormItem, FormLabel, FormMessage} from "~/components/ui/form";
import {Input} from "~/components/ui/input";
import {Button} from '@/components/ui/button';
import {Card, CardContent, CardDescription, CardHeader, CardTitle} from '@/components/ui/card';
import {useAuth} from '~/composables/useAuth';
import {useErrorStore} from "~/store/errors";

useSeoMeta({
  title: 'Register | Notes App',
  description: 'Register page',
})
definePageMeta({
  layout: 'auth',
})

const {register} = useAuth();
const errorStore = useErrorStore();


const formSchema = toTypedSchema(z.object({
  name: z.string().min(2, "Name must be at least 2 characters long").max(50, "Name must be at most 50 characters long"),
  email: z.string().min(2, "Email must be at least 2 characters long").max(50, "Email must be at most 50 characters long").email("Invalid email address"),
  password: z.string().min(8, "Password must be at least 8 characters long").max(50, "Password must be at most 50 characters long"),
  password_confirmation: z.string().min(8, "Password confirmation must be at least 8 characters long").max(50, "Password confirmation must be at most 50 characters long")
}).refine(data => data.password === data.password_confirmation, {
  message: "Passwords do not match",
  path: ["password_confirmation"],
}));

const {isFieldDirty, handleSubmit} = useForm({
  validationSchema: formSchema,
  initialValues: {name: '', email: '', password: '', password_confirmation: ''},
});


const onSubmit = handleSubmit(async (values) => {
  await register(values.name, values.email, values.password, values.password_confirmation);
});
onMounted(() => {
  errorStore.clearErrors();
});

</script>

<template>
  <div class="flex items-center justify-center min-h-screen">
    <Card class="mx-auto max-w-sm">
      <CardHeader>
        <CardTitle class="text-xl">
          Sign Up
        </CardTitle>
        <CardDescription>
          Enter your information to create an account
        </CardDescription>
      </CardHeader>
      <CardContent>
        <form @submit.prevent="onSubmit">
          <!-- Display Server Errors -->
          <div v-if="errorStore.fieldErrors.general" class="mb-4 text-red-500">
            <p v-for="error in errorStore.getErrorMessages('general')" :key="error">{{ error }}</p>
          </div>
          <FormField v-slot="{ field, meta }" name="name" :validate-on-blur="!isFieldDirty">
            <FormItem class="mb-3">
              <FormLabel>Name</FormLabel>
              <FormControl>
                <Input type="text" placeholder="Name" v-bind="field"/>
              </FormControl>
              <FormMessage/>
              <div v-if="errorStore.getErrorMessages('name').length" class="mt-1 text-red-500 text-sm">
                <p v-for="error in errorStore.getErrorMessages('name')" :key="error">{{ error }}</p>
              </div>
            </FormItem>
          </FormField>
          <FormField v-slot="{ field, meta }" name="email" :validate-on-blur="!isFieldDirty">
            <FormItem class="mb-3">
              <FormLabel>Email</FormLabel>
              <FormControl>
                <Input type="text" placeholder="Email" v-bind="field"/>
              </FormControl>
              <FormMessage/>
              <div v-if="errorStore.getErrorMessages('email').length" class="mt-1 text-red-500 text-sm">
                <p v-for="error in errorStore.getErrorMessages('email')" :key="error">{{ error }}</p>
              </div>
            </FormItem>
          </FormField>
          <FormField v-slot="{ field, meta }" name="password" :validate-on-blur="!isFieldDirty">
            <FormItem class="mb-3">
              <FormLabel>Password</FormLabel>
              <FormControl>
                <Input type="password" placeholder="Password" v-bind="field"/>
              </FormControl>
              <FormMessage/>
              <div v-if="errorStore.getErrorMessages('password').length" class="mt-1 text-red-500 text-sm">
                <p v-for="error in errorStore.getErrorMessages('password')" :key="error">{{ error }}</p>
              </div>
            </FormItem>
          </FormField>
          <FormField v-slot="{ field, meta }" name="password_confirmation" :validate-on-blur="!isFieldDirty">
            <FormItem class="mb-3">
              <FormLabel>Confirm Password</FormLabel>
              <FormControl>
                <Input type="password" placeholder="Confirm Password" v-bind="field"/>
              </FormControl>
              <FormMessage/>
              <div v-if="errorStore.getErrorMessages('password_confirmation').length" class="mt-1 text-red-500 text-sm">
                <p v-for="error in errorStore.getErrorMessages('password_confirmation')" :key="error">{{ error }}</p>
              </div>
            </FormItem>
          </FormField>
          <Button type="submit" class="w-full">
            Create an account
          </Button>
          <div class="mt-4 text-center text-sm">
            Already have an account?
            <NuxtLink to="/login" class="underline">
              Sign in
            </NuxtLink>
          </div>
        </form>
      </CardContent>
    </Card>
  </div>
</template>

<style scoped>
</style>