<script setup lang="ts">
import {
  AlertDialog,
  AlertDialogAction,
  AlertDialogCancel,
  AlertDialogContent,
  AlertDialogDescription,
  AlertDialogFooter,
  AlertDialogHeader,
  AlertDialogTitle,
} from '@/components/ui/alert-dialog'

const props = defineProps({
  isVisible: {
    type: Boolean,
    default: false,
  },
  noteId: {
    type: Number,
    default: null,
  },
});
const emit = defineEmits(["update:isVisible", "close", "accepted"]);
const closeModal = () => {
  emit("update:isVisible", false);
};
class InferPropType<T> {
}
const handleAccept = (id: InferPropType<{ default: null; type: NumberConstructor }> | undefined) => {
  emit("accepted");
};
</script>

<template>
  <AlertDialog :open="isVisible">
    <AlertDialogContent @close="closeModal">
      <AlertDialogHeader>
        <AlertDialogTitle>Are you absolutely sure you want to delete your note?</AlertDialogTitle>
        <AlertDialogDescription>
          This action cannot be undone. This will permanently delete your
          note and remove your data from our servers.
        </AlertDialogDescription>
      </AlertDialogHeader>
      <AlertDialogFooter>
        <AlertDialogCancel @click="closeModal">Cancel</AlertDialogCancel>
        <AlertDialogAction @click="handleAccept(props.noteId)">Continue</AlertDialogAction>
      </AlertDialogFooter>
    </AlertDialogContent>
  </AlertDialog>
</template>