<script setup lang="ts">
import {useForm, useField} from 'vee-validate';
import {toTypedSchema} from '@vee-validate/zod';
import * as z from 'zod';

import {Button} from '@/components/ui/button';
import {
  FormControl,
  FormDescription,
  FormField,
  FormItem,
  FormLabel,
  FormMessage,
} from '@/components/ui/form';
import {Textarea} from '@/components/ui/textarea';
import {Input} from '@/components/ui/input';
import {useNotes} from '~/composables/useNotes';
import {useErrorStore} from "~/store/errors";
import type {Note} from "~/types/note";

const {addNote, updateNote} = useNotes();

const props = defineProps({
  data: {
    type: Object as () => Note | null,
    default: null,
  }
});

const formSchema = toTypedSchema(z.object({
  title: z.string().min(2, 'title must be at least 2 characters long').max(50, 'title must be maximum 50 characters long'),
  content: z.string().min(2, 'content must be at least 2 characters long').max(255, 'content must be maximum 255 characters long')
}));

const {isFieldDirty, handleSubmit} = useForm({
  validationSchema: formSchema,
  initialValues: props.data ? {title: props.data.title, content: props.data.content} : undefined,
});

const emit = defineEmits(['close']);

const onSubmit = handleSubmit(async (values) => {
  if (props.data) {
    await updateNote({
      id: props.data.id,
      title: values.title,
      content: values.content,
    });
    emit('close');
  } else {
    await addNote({
      title: values.title,
      content: values.content,
    });
    emit('close');
  }
});
</script>

<template>
  <form @submit="onSubmit">
    <FormField v-slot="{ componentField }" name="title" :validate-on-blur="!isFieldDirty">
      <FormItem>
        <FormLabel>Title</FormLabel>
        <FormControl>
          <Input type="text" placeholder="Title" v-bind="componentField"/>
        </FormControl>
        <FormDescription>
          This is your new note
        </FormDescription>
        <FormMessage/>
      </FormItem>
    </FormField>
    <FormField v-slot="{ componentField }" name="content" :validate-on-blur="!isFieldDirty">
      <FormItem class="mb-3">
        <FormLabel>Content</FormLabel>
        <FormControl>
          <Textarea placeholder="Create your new note here" v-bind="componentField" rows="10"/>
        </FormControl>
        <FormDescription>
          This is your new note
        </FormDescription>
        <FormMessage/>
      </FormItem>
    </FormField>
    <Button type="submit">
      Submit
    </Button>
  </form>
</template>
