<script setup lang="ts">
import type {Note} from "~/types/note";

import {
  Dialog,
  DialogContent,
  DialogDescription,
  DialogHeader,
  DialogTitle,
} from '@/components/ui/dialog'

const props = defineProps({
  isVisible: {
    type: Boolean,
    default: false,
  },
  note: {
    type: Object as () => Note | null,
    default: null,
  },
});

const isEditMode = computed(() => !!props.note);
const dialogTitle = computed(() => (isEditMode.value ? "Edit Note" : "Add New Note"));
const dialogDescription = computed(() => (isEditMode.value ? "Edit your note here" : "Add new notes here"));

const emit = defineEmits(["update:isVisible", "close"]);
const closeModal = () => {
  emit("update:isVisible", false);
};
</script>

<template>
  <Dialog :open="isVisible">
    <DialogContent @close="closeModal">
      <DialogHeader>
        <DialogTitle>{{ dialogTitle }}</DialogTitle>
        <DialogDescription>
          {{ dialogDescription }}
        </DialogDescription>
      </DialogHeader>
      <NotesForm :data="note" @close="closeModal"/>
    </DialogContent>
  </Dialog>
</template>
