<script setup lang="ts">
import {
  Pagination,
  PaginationEllipsis,
  PaginationFirst,
  PaginationLast,
  PaginationList,
  PaginationListItem,
  PaginationNext,
  PaginationPrev,
} from '@/components/ui/pagination';

import {Button} from '@/components/ui/button';

const props = defineProps({
  totalItems: {
    type: Number,
    required: true,
  },
  itemsPerPage: {
    type: Number,
    required: true,
  },
  currentPage: {
    type: Number,
    required: true,
  }
});

const emit = defineEmits(['page-change']);
const totalPages = computed(() => Math.ceil(props.totalItems / props.itemsPerPage));

const handlePageChange = (page: number) => {
  if (page >= 1 && page <= totalPages.value) {
    emit('page-change', page);
  }
};
</script>

<template>
  <Pagination v-slot="{ page }" :items-per-page="<number>props.itemsPerPage" :total="<number>props.totalItems"
              :sibling-count="1"
              show-edges
              :default-page="<number>props.currentPage">
    <PaginationList v-slot="{ items }" class="flex items-center gap-1">
      <PaginationFirst @click="handlePageChange(1)"/>
      <PaginationPrev @click="handlePageChange(Math.max(1, props.currentPage - 1))"/>
      <template v-for="(item, index) in items">
        <PaginationListItem v-if="item.type === 'page'" :key="index" :value="item.value" as-child>
          <Button class="w-10 h-10 p-0" :variant="item.value === page ? 'default' : 'outline'"
                  @click="handlePageChange(item.value)">
            {{ item.value }}
          </Button>
        </PaginationListItem>
        <PaginationEllipsis v-else :key="item.type" :index="index"/>
      </template>
      <PaginationNext @click="handlePageChange(Math.min(totalPages, props.currentPage + 1))"/>
      <PaginationLast @click="handlePageChange(totalPages)"/>
    </PaginationList>
  </Pagination>
</template>
