<script setup lang="ts">
import type {Note} from "~/types/note";
import {Button} from "~/components/ui/button";
import {useNotes} from "~/composables/useNotes";
import {ref, computed} from "vue";

const props = defineProps({
  notes: {
    type: Object as () => Note[] | null,
    default: null,
    required: true,
  }
});

const shouldShowPagination = computed(() => props.notes!.length > itemsPerPage.value);
const currentPage = ref<number>(1);
const itemsPerPage = ref<number>(5);
const paginatedNotes = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage.value;
  const end = start + itemsPerPage.value;
  return props.notes!.slice(start, end);
});
const handlePageChange = (page: number) => {
  currentPage.value = page;
};
watchEffect(() => {
  const totalPages = Math.ceil(props.notes!.length / itemsPerPage.value);
  if (currentPage.value > totalPages) {
    currentPage.value = Math.max(1, totalPages);
  }
});

const {deleteNote} = useNotes();
const isVisible = ref<boolean>(false);
const emit = defineEmits(['edit-note']);
const selectedNoteId = ref<number | null>(null);
const handleEdit = (note: Note) => {
  emit('edit-note', note);
}
const handleDelete = async () => {
  if (selectedNoteId.value !== null) {
    await deleteNote(selectedNoteId.value);
    isVisible.value = false;
    selectedNoteId.value = null;
  }
};
const triggerAlert = (noteId: number) => {
  isVisible.value = true;
  selectedNoteId.value = noteId;
}

const truncateText = (text: string, maxLength: number) => {
  return text.length > maxLength ? text.slice(0, maxLength) + '...' : text;
};
</script>

<template>
  <div class="flex flex-col min-h-full pb-8">
    <NotesAlertsModalAlert v-model:is-visible="isVisible" :noteId="selectedNoteId" @accepted="handleDelete"/>
    <div class="h-3/4 flex flex-col justify-between">
      <Table class="w-full">
        <TableCaption>A list of your notes.</TableCaption>
        <TableHeader>
          <TableRow>
            <TableHead>Title</TableHead>
            <TableHead>Content</TableHead>
            <TableHead>Date Created</TableHead>
            <TableHead class="text-right">Actions</TableHead>
          </TableRow>
        </TableHeader>
        <TableBody>
          <TableRow v-for="note in paginatedNotes" :key="note.id">
            <TableCell class="font-medium">{{ truncateText(note.title, 40) }}</TableCell>
            <TableCell>{{ truncateText(note.content, 80) }}</TableCell>
            <TableCell>{{ new Date(note.created_at).toLocaleDateString() }}</TableCell>
            <TableCell class="text-right">
              <Button class="w-1/2 md:w-auto" @click="handleEdit(note)">Edit</Button>
              <Button @click="triggerAlert(note.id)" class="mt-1 ml-2 w-1/2 md:w-auto" variant="destructive">Delete
              </Button>
            </TableCell>
          </TableRow>
        </TableBody>
      </Table>
      <div v-if="shouldShowPagination" class="flex justify-center">
        <NotesPagination
            :total-items="props.notes!.length"
            :items-per-page="itemsPerPage"
            :current-page="currentPage"
            @page-change="handlePageChange"
        />
      </div>
    </div>

  </div>
</template>
