<script setup lang="ts">
import {useUserStore} from "~/store/user";

const userStore = useUserStore();
const router = useRouter();
const {getUser} = useAuth();

onMounted(async () => {
  try {
    await getUser();
    const isAuthenticated = userStore.isAuthenticated;
    if (isAuthenticated) {
      router.push('/');
    }
  } catch (error) {

  }
});
</script>
<template>
  <slot/>
</template>

<style scoped>

</style>