<script setup lang="ts">
import {useLoadingStore} from "~/store/loading";


const isLoading = useLoadingStore();
const router = useRouter();
const {getUser} = useAuth();
const {getNotes} = useNotes();

onMounted(async () => {
  isLoading.setLoading(true);
  try {
    await getUser();
    await getNotes();
  } catch (error) {
    await router.push('/login');
  } finally {
    isLoading.setLoading(false);
  }
});

</script>

<template>
  <LayoutLoader v-if="isLoading.isLoading"/>
  <div v-else class="grid min-h-screen w-full md:grid-cols-[220px_1fr] lg:grid-cols-[280px_1fr]">
    <LayoutSidebar/>
    <div class="flex flex-col">
      <LayoutHeader/>
      <slot/>
    </div>
  </div>
</template>

<style scoped>

</style>