<script setup lang="ts">
import {ref} from 'vue';
import {Button} from '@/components/ui/button';
import {useNotesStore} from '~/store/notes';
import type {Note} from "~/types/note";
useSeoMeta({
  title: 'Notes',
  description: 'Organize your tasks and ideas efficiently with our high-performance note manager.'
});
const notesStore = useNotesStore();
const isVisible = ref<boolean>(false);
const currentNote = ref<Note | null>(null);
const notes = computed(() => notesStore.notes);
const addNote = () => {
  currentNote.value = null;
  isVisible.value = true;
};

const openEditModal = (note: Note) => {
  currentNote.value = note;
  isVisible.value = true;
};
</script>

<template>
  <NotesModalWindow v-model:is-visible="isVisible" :note="currentNote"/>
  <main class="flex flex-1 flex-col gap-4 p-4 lg:gap-6 lg:p-6">
    <div class="flex items-center">
      <h1 class="text-lg font-semibold md:text-2xl">My Notes</h1>
      <Button class="ml-auto w-1/4" @click="addNote">Add Note</Button>
    </div>
    <NotesSearch/>
    <div v-if="notesStore.notes.length === 0"
         class="flex flex-1 items-center justify-center rounded-lg border border-dashed shadow-sm">
      <div class="flex flex-col items-center gap-1 text-center">
        <h3 class="text-2xl font-bold tracking-tight">You have no notes</h3>
        <p class="text-sm text-muted-foreground">You can start organizing as soon as you add a note.</p>
      </div>
    </div>
    <NotesTable v-else :notes="notes" @edit-note="openEditModal"/>
  </main>
</template>

