<script setup lang="ts">

import {Badge} from "~/components/ui/badge";
import {Sheet, SheetContent, SheetTrigger} from "~/components/ui/sheet";
import {
  DropdownMenu,
  DropdownMenuContent, DropdownMenuItem,
  DropdownMenuSeparator,
  DropdownMenuTrigger
} from "~/components/ui/dropdown-menu";
import {Button} from "~/components/ui/button";
import {FileText, Home, Menu, UserCircle} from "lucide-vue-next";
import {useNotesStore} from "~/store/notes";

const {logout} = useAuth()
const notesCount = computed(() => useNotesStore().originalNotes.length);
const handleLogout = async () => {
  await logout()
}
</script>

<template>
  <header class="flex h-14 items-center gap-4 border-b bg-muted/40 px-4 lg:h-[60px] lg:px-6">
    <Sheet>
      <SheetTrigger as-child>
        <Button
            variant="outline"
            size="icon"
            class="shrink-0 md:hidden"
        >
          <Menu class="h-5 w-5"/>
          <span class="sr-only">Toggle navigation menu</span>
        </Button>
      </SheetTrigger>
      <SheetContent side="left" class="flex flex-col">
        <nav class="grid gap-2 text-lg font-medium">
          <NuxtLink to="/" class="flex items-center gap-2 text-lg font-semibold">
            <FileText class="h-6 w-6"/>
            <span class="sr-only">Notes App</span>
          </NuxtLink>
          <NuxtLink
              to="/"
              class="mx-[-0.65rem] flex items-center gap-4 rounded-xl px-3 py-2 text-muted-foreground hover:text-foreground"
          >
            <Home class="h-5 w-5"/>
            Home
          </NuxtLink>
          <NuxtLink
              to="/notes"
              class="mx-[-0.65rem] flex items-center gap-4 rounded-xl bg-muted px-3 py-2 text-foreground hover:text-foreground"
          >
            <FileText class="h-5 w-5"/>
            Notes
            <Badge class="ml-auto flex h-6 w-6 shrink-0 items-center justify-center rounded-full">
              {{ notesCount }}
            </Badge>
          </NuxtLink>
        </nav>
      </SheetContent>
    </Sheet>
    <div class="w-full flex-1">
    </div>
    <DropdownMenu>
      <DropdownMenuTrigger as-child>
        <Button variant="secondary" size="icon" class="rounded-full">
          <UserCircle class="h-5 w-5"/>
          <span class="sr-only">Toggle user menu</span>
        </Button>
      </DropdownMenuTrigger>
      <DropdownMenuContent align="end">
        <DropdownMenuItem @click="handleLogout">Logout</DropdownMenuItem>
      </DropdownMenuContent>
    </DropdownMenu>
  </header>
</template>
