<script setup lang="ts">

import {Badge} from "~/components/ui/badge";
import {FileText, Home} from "lucide-vue-next";
import {useNotesStore} from "~/store/notes";

const notesStore = useNotesStore();
const notesCount = computed(() => notesStore.originalNotes.length);

</script>

<template>
  <div class="hidden border-r bg-muted/40 md:block">
    <div class="flex h-full max-h-screen flex-col gap-2">
      <div class="flex h-14 items-center border-b px-4 lg:h-[60px] lg:px-6">
        <a href="/" class="flex items-center gap-2 font-semibold">
          <FileText class="h-6 w-6"/>
          <span class="">Notes App</span>
        </a>
      </div>
      <div class="flex-1">
        <nav class="grid items-start px-2 text-sm font-medium lg:px-4">
          <NuxtLink
              to="/"
              class="flex items-center gap-3 rounded-lg px-3 py-2 text-muted-foreground transition-all hover:text-primary"
          >
            <Home class="h-4 w-4"/>
            Home
          </NuxtLink>
          <NuxtLink
              to="/notes"
              class="flex items-center gap-3 rounded-lg px-3 py-2 text-muted-foreground transition-all hover:text-primary"
          >
            <FileText class="h-4 w-4"/>
            Notes
            <Badge class="ml-auto flex h-6 w-6 shrink-0 items-center justify-center rounded-full">
              {{ notesCount }}
            </Badge>
          </NuxtLink>
        </nav>
      </div>
    </div>
  </div>
</template>
